body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    padding: 25px;
  }

  h1 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .emojis {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
  }

  .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
  }

  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
    display: flex;
  }

  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    margin-top: 50px;
  }

  .icon {
    font-size: 4rem;
    display: flex;
    justify-content: space-evenly;
  }



  




